.btn-ingresar {
    color: #ffffff;
    background-color: #ec0000;
    border-color: #ec0000;
}

.btn-cliente {
    color: #ffffff;
    background-color: #ec0000;
    border-color: #ffffff;
}

.btn-ingresar-icono {
    color: #ec0000;
    background-color: #ffffff;
    border-color: #ec0000;
}

.btn {
    border-radius: 50px;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
    font-size: .9rem;
    line-height: 1rem;
    padding: .7rem 2.5rem;
    margin: 0.5em;
}
